<nav>
    <a class=navlink href="https://github.com/ezrasavard">Github</a>
    <br>
    <a class=navlink href="https://linkedin.com/in/ezrasavard">LinkedIn</a>
    <br>
    <br>
    Other sites I like:
    <br>
    <br>
    <a class=navlink href="https://marginalrevolution.com">Marginal Revolution</a>
    <br>
    <a class=navlink href="https://slatestarcodex.com">Slate Star Codex</a>
    <br>
    <a class=navlink href="https://80000hours.org">80,000 Hours</a>
    <br>
    <a class=navlink href="https://dieworkwear.com">Die, Workwear!</a>
</nav>
