<ul class="posts-list">
    {% for post in site.posts %}
        <li class="post-link">
            <a href="{{ post.url | prepend: site.baseurl }}"><h1 class="title">{{ post.title }}</h1></a>
            <h1 class="date">{{ post.date | date_to_string }}</h1>
            <div class="divider"></div>
            <div class="preview-photo-container">
                <a  href="{{ post.url | prepend: site.baseurl }}">
                {% if post.cover %}
                    <img src="{{ post.cover }}">
                {% else %}
                    <img src="{{ site.cover }}">
                {% endif %}
            </a>
            {% if post.excerpt %}
                <p>{{ post.excerpt }}</p>
            {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>