{% for tag in include.tags %}
    {% for post in site.posts %}
        {% if post.title != page.title %}
                {% for test_tag in post.tags %}
                    {% if test_tag == tag %}
                        {% assign tmp = nil %}
                        {% capture tmp %}<a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>{% endcapture %}
                        {% assign related_list = related_list | append: tmp | append: ";" %}
                    {% endif %}
                {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}

<div>
    {% if related_list %}
        <h2>Related Posts</h2>
        {{ related_list | split: ";" | uniq | join: "<br>"}}
    {% endif %}
</div>