<div class="topbar">
    <div class="image-box">
        {% if page.cover %}
        	<a href="{{ site.baseurl }}/"><img src="{{ page.cover }}"></a>
        {% else %}
            <a href="{{ site.baseurl }}/"><img src="{{ site.cover }}"></a>
        {% endif %}
        <container class="text-overlay">
            <a href="{{ site.baseurl }}/"><h1 class="title">Hi, I'm Ezra Savard</h1></a><br>
            <h1 class="tagline">{{ site.description }}</h1>
        </container>
    </div>
    
    <nav>
        <a href="{{ site.baseurl }}/projects">Projects</a>
        <span class="separator">&bull;</span>
        <a href="https://www.github.com/ezrasavard">GitHub</a>
        <span class="separator">&bull;</span>
        <a href="https://www.linkedin.com/in/ezrasavard">LinkedIn</a>
    </nav>
</div>



