---
---

<!DOCTYPE html>
<html lang="en">
	<head>
	    {% include head.html %}
        {% if page.title %}
            <title>{{ site.title }} - {{ page.title }}</title>
        {% else %}
            <title>{{ site.title }}</title>
        {% endif %}
	</head>
	<body>
		<main>
            <div class="mahGrid">
                <div class="homepageTitleBlock">
                    <a class=title href="{{ site.baseurl }}/">Ezra<br>Savard</a>
                </div>
                <div class="homepageAboutBlock">
                    I'm a software engineer living in Vancouver, BC. Other than working, I enjoy weight lifting and reading interesting things from the set of business, technology, economics, psychology, politics, and education, in no particular order.
                </div>
                <div class="homepagePictureBlock">
                    <img
                     alt="Ezra Savard"
                     src="{{site.baseurl}}/media/ezra-archery.jpg"
                    ></img>
                </div>
                <div class="homepageLinksBlock">
                    {% include navlinks.html %}
                </div>
                <div class="postColumn">
                    {{ content }}
                </div>
                <div class="feets">
                    <footer>
                        {% assign tmp = "/" | append: site.baseurl %}
                        {% if page.url != tmp %}
                            <h2><a href="{{ site.baseurl }}/">Home</a></h2>
                        {% endif %}
                    </footer>
                </div>
            </div>
		</main>
		<script>
			$("script[type='math/tex']").replaceWith(function() {
				var tex = $(this).text();
				return katex.renderToString(tex, {displayMode: false});
			});
			$("script[type='math/tex; mode=display']").replaceWith(function() {
				var tex = $(this).html();
				return katex.renderToString(tex.replace(/%.*/g, ''), {displayMode: true});
			});
		  </script>
	</body>
</html>

